.collapsible {
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  outline: none;
  font-size: 15px;
  border: solid 1px black;
}

.active,
.collapsible:hover {
  background-color: rgb(198, 217, 253);
}

.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
  padding: 20px;
}

.content > table {
  width: 100%;
}
